{% extends 'base.html' %}
{% block content %}
<style>
    .paragraph{
        padding: 0 5%;
        line-height:1.9em;
    }

    .sign{
        margin: 0 5% 30px 0;
    }

    .a-yellow{
    color:#f09837;
    }

    .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
    }

    @media (max-width: 600px){
        .paragraph{
            padding: 0 7px;
            font-size: 16px !important;
        }
        .container{
            padding-left: 22px;
            padding-right: 22px;
        }
        .container h3{
            margin-left: 7px;
            font-size: 25px !important;
        }
    }
</style>

<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> HUFS Global</span></h3>
    <h4 style="font-weight: bold; color:#707070;">8기 모집 세부내용</h4>
    <div class="border-bottom mr-5" style="height: 10px;"></div>
</div>
 
    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">선발 일정</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 서류접수 : 3/16(월) ~ 3/29(금)<br>
            - 서류합격 발표 : 4/1(수) <br>
            - 개별면접 : 4/3(금), 4/4(토) <br>
            - 최종합격 발표 : 4/6(월)
            <p class="paragraph" style="font-size:14px;">
                * 서류합격 및 최종합격 발표는 지원서에 작성한 메일로 발송됩니다.<br>
            </p>
        </p>
    </div>    

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">지원 자격</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 1년 동안 성실히 활동할 한국외대 재학생 / 휴학생<br>
            - 개인 노트북을 소유하신 분<br>
            - 자신의 손으로 직접 서비스를 만들어보고 싶은 분<br>
        </p>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">주요 활동 및 일정</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 학교 OT : 4/14(화) 예정<br>
            - 정규 세션 : 매주 화/목 오후 6:30 ~ <br>
            - 정규 팀 프로젝트 : 연간 운영(학기, 방학 포함)<br>
            - 중앙 해커톤 : 8월 중 예정<br>
            - Demo Day : 12월 초 예정 <br>
        </p>
    </div>
    <div class="container my-5">
        <h3 style="color:white; text-align: center"><a class="a-yellow" href="http://bit.ly/hufslion_8th" >지원서 작성하기</a></h3><br><br>
    </div>

    
<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> HUFS Global</span></h3>
    <h4 style="font-weight: bold; color:#707070;">8기 모집 FAQ</h4>
    <div class="border-bottom mr-5" style=" height: 10px;"></div>
</div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 멋쟁이 사자처럼은 무슨 단체 인가요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            A. 멋쟁이사자처럼은 'HACK YOUR LIFE' , '내가 직접 프로그래밍하겠다' , 'Change the world with coding' 등의 캐치프레이즈를 가진 단체이며
             멋사 대학, 멋사 직장인, 멋사 디자인과 같이 교육 서비스를 제공하기도 하며, 각 대학에 선생님(운영진)을 선발하여 대학별 활동을 진행하는 단체 입니다.  <br>
             이번 8기는 [아이디어 + 코딩 + 커뮤니티] 3가지를 중점적으로 운영합니다. <br>
             무엇을 만들지 아이디어 기획 및 설계하며, 그 아이디어를 웹 프로그래밍으로 실현시키고, 창업 강의를 통하여 발전시킵니다.<br>
             <a class="a-yellow" href="https://likelion.net/" >멋쟁이사자처럼 공식 홈페이지</a>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 저는 프로그래밍 하나도 모르는데요!</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            A. 멋쟁이사자처럼은 기본적으로 웹 개발을 모르는 비전공자도 들을수 있는 수업 자료와 세션으로 구성하고 있습니다.<br>
            따라서 코딩을 한번도 해보지 못한 입문자도 충분히 따라올 수 있으며 걱정하지 않으셔도 좋습니다.<br>
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 활동 회비는 얼마인가요? </h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            A. 멋쟁이사자처럼 8기의 공식 회비는 없습니다. <br>
            다만 MT, 뒤풀이, 연합행사가 있다면 회비형태로 비용 처리를 할 수 있습니다.<br>
        </p>
        <br>
    </div>

   

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">Q. 1년의 활동기간동안 안내된 정규세션에 모임에 꼭 참여해야 하나요?</h3>
        <br>
        <p class="paragraph" style="font-size:17px;">
            A. 정규 세션의 모임 기간은 1학기 입니다. <br>
            이후의 일정은 외대 멋사의 운영진과 선발되신분들의 회의를 통해서 횟수와 시간을 정할 예정입니다. <br>
            그리고 1학기와 2학기 시험기간과 시험 전주에는 원활한 학업을 위하여 오프라인 세션을 휴식합니다.
        </p>
        <br>
    </div>

    <div class="container my-5">
        <h3 style="color:white; text-align: center"><a class="a-yellow" href="http://bit.ly/hufslion_8th" >지원서 작성하기</a></h3><br><br>
    </div>

{% endblock %}