{% extends 'base.html' %}
{% block content %}
<style>
    .paragraph{
        padding: 0 5%;
        line-height:1.9em;
    }

    .sign{
        margin: 0 5% 30px 0;
    }

    .a-yellow{
    color:#f09837;
    }

    .a-yellow:hover {
    color: #8a551d;
    text-decoration:none
    }

    @media (max-width: 600px){
        .paragraph{
            padding: 0 7px;
            font-size: 16px !important;
        }
        .container{
            padding-left: 22px;
            padding-right: 22px;
        }
        .container h3{
            margin-left: 7px;
            font-size: 25px !important;
        }
    }
</style>

<div class="pl-md-5 py-3 ml-md-5 mt-5 ml-4" style="font-weight: bold;">
    <h3 style="font-weight: bold;"><span style="color: #f09837;">멋쟁이사자처럼</span><span style="color:#ff8f66;"> HUFS Global</span></h3>
    <h4 style="font-weight: bold; color:#707070;">2020 상반기 모집</h4>
    <h4 style="font-weight: bold; color:#707070;">세부내용</h4>
    <div class="border-bottom mr-5" style="max-width: 600px; height: 10px;"></div>
</div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">선발 일정</h3>
        <p class="paragraph" style="font-size:17px;">
            - 서류접수 : 3/16(월) ~ 3/27(일)<br>
            - 서류합격 발표 : 4/1(월) <br>
            - 개별면접 : 4/3(금), 4/4(토) <br>
            - 최종합격 발표 : 4/6(월)
        </p>
    </div>    

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">지원 자격</h3><br>
        <p class="paragraph" style="font-size:17px;">
            - 1년동안 성실히 활동할 한국외대 재학생 / 휴학생<br>
            - 개인 노트북 소유자<br>
            - 자신의 손으로 직접 서비스를 만들어보고 싶은 분
        </p>
    </div>

    <div class="container my-5">
        <h3 style="color:black; font-size: 25px; font-weight: 800">주요 활동 및 일정</h3>
        <p class="paragraph" style="font-size:17px;">
            - 학교 OT : 4/7(화) 오후 6:30<br>
            - 정규 세션 : 매주 화/목 오후 6:30 ~ <br>
            - 정규 팀 프로젝트 : 연간 운영(학기, 방학 포함)<br>
            - 중앙 해커톤 : 8월 중 예정<br>
            - Demo Day : 12월 초 예정 <br>
        </p>
    </div>

    <div class="container my-5">
        <h3 style="color:white; text-align: center"><a class="a-yellow" href="http://bit.ly/hufslion_8th" >지원서 작성하기</a></h3><br><br>
    </div>
 

{% endblock %}